<app-header></app-header>

<div class="container">
  
  <app-task-form (taskCreated)="onTaskCreated($event)"></app-task-form>

 <app-task-filter
    [tasks]="tasks"
    [selectedFilter]="selectedFilter"
    (filterChange)="onFilterChange($event)"
    (filteredTasks)="onFilteredTasksChange($event)">
  </app-task-filter>

  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <app-task-list
    *ngIf="!isLoading"
    [tasks]="filteredTasks"
    [statusOptions]="statusOptions"
    (taskStatusChange)="onTaskStatusChange($event)"
    (taskDelete)="onTaskDelete($event)"
    (generateNote)="onGenerateNote($event)">
  </app-task-list>
</div>