<app-header></app-header>

<div class="container">
  
  <app-task-form 
    [editingTask]="editingTask" 
    [isEditMode]="isEditMode"
    (taskCreated)="onTaskCreated($event)"
    (taskUpdated)="onTaskUpdated($event)"
    (cancelEdit)="exitEditMode()"></app-task-form>

 <app-task-filter
    [tasks]="tasks"
    [selectedFilter]="selectedFilter"
    (filterChange)="onFilterChange($event)"
    (filteredTasks)="onFilteredTasksChange($event)">
  </app-task-filter>

  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <app-task-list
    *ngIf="!isLoading"
    [tasks]="filteredTasks"
    [statusOptions]="statusOptions"
    (taskStatusChange)="onTaskStatusChange($event)"
    (taskDelete)="onTaskDelete($event)"
    (taskEdit)="onTaskEdit($event)"
    (generateNote)="onGenerateNote($event)">
  </app-task-list>
</div>